## https://help.liquidweb.com/s/article/Allowing-and-Denying-Website-Access-Using-htaccess
#Require all granted
#Require host intecca.uned.es

## http://stackoverflow.com/questions/37769960/ddg#37770158
#ErrorDocument 408 %{HTTP_REFERER}
#ErrorDocument 405 "Access Not Allowed"
ErrorDocument 405 https://ailanto-dev.intecca.uned.es/lti13/lms/giccu/error.php

## https://ubiq.co/tech-blog/set-access-control-allow-origin-cors-headers-apache/
Header set Access-Control-Allow-Origin "http://ailanto-dev.intecca.uned.es"
#Header add Access-Control-Allow-Origin "https://ailanto-dev.intecca.uned.es"
#Header add Access-Control-Allow-Origin "https://acacia.uned.es"
#Header add Access-Control-Allow-Origin "https://agora.uned.es"