## https://help.liquidweb.com/s/article/Allowing-and-Denying-Website-Access-Using-htaccess
#Require all granted
#Require host intecca.uned.es

## TODO+NE Incidencia Servidor `Encoding Charset UTF-8`
## https://stackoverflow.com/questions/913869/how-to-change-the-default-encoding-to-utf-8-for-apache
#IndexOptions +Charset=UTF-8
AddCharset utf-8 .html .css .php .txt .js

RewriteEngine On

## TODO Posibilidad 6: redireccionar el contenido publicado en el Sistema LTI
## https://stackoverflow.com/questions/57356938/apache-is-adding-javascript-in-html-file
## https://serverfault.com/questions/46449/how-to-inject-html-code-into-every-delivered-html-page
RewriteCond %{REQUEST_URI} ^jwt_token=([0-9a-zA-Z.]*) [OR]
RewriteCond %{QUERY_STRING} ^jwt_token=([0-9a-zA-Z.]*)
##RewriteCond %{HTTP_REFERER} !^http://www.mysite.com/.*
##RewriteCond %{HTTP_HOST}@@%{HTTP_REFERER} !^([^@]*)@@https?://\1/.*
##RewriteRule ^/publicacion/1(.*)$ /lti13/publicacion/9$1 [L,R]
RewriteRule ^(.*)$ /lti13/lms/embed.php?path=$1 [QSA,L,R]



## TODO+NE Incidencia `blocked by CORS policy`
## https://ubiq.co/tech-blog/set-access-control-allow-origin-cors-headers-apache/
# https://stackoverflow.com/questions/41186475/show-message-when-framed-htaccess
Header set Access-Control-Allow-Origin "http://ailanto-dev.intecca.uned.es"
#Header add Access-Control-Allow-Origin "https://ailanto-dev.intecca.uned.es"
#Header add Access-Control-Allow-Origin "https://acacia.uned.es"
#Header add Access-Control-Allow-Origin "https://agora.uned.es"